<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Usuarios</div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <label for="status">Status</label>
                                <select class="form-control" id="status" v-model="form.status">
                                    <option value="">Todos</option>
                                    <option value="1">Activos</option>
                                    <option value="0">Inactivos</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label for="level">Level</label>
                                <select class="form-control" name="level" id="level" v-model="form.level">
                                    <option value="">Todos</option>
                                    <option value="1">Admin</option>
                                    <option value="0">Usuarios</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label for="name">Nombre/Email</label>
                                <input name="name" id="name"  class="form-control" type="text" v-model="form.name" />
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label for="page-select">Pagina</label>
                                <model-select
                                    id="page-select"
                                    class="form-control"
                                    :options="selectPages"
                                    v-model="page"
                                    placeholder="Seleccione">
                                </model-select>
                            </div>
                        </div>
                        <div class="button">
                            <button @click="_load()" class="btn btn-success">Buscar</button>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Email</th>
                                    <th>Nombre</th>
                                    <th>Level</th>
                                    <th>Status</th>
                                    <th>Fecha de Registro</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="element in users" :key="element.id">
                                    <td> {{element.id}} </td>
                                    <td> {{element.email}} </td>
                                    <td> {{element.name}} </td>
                                    <td> {{element.level_text}} </td>
                                    <td> {{element.status_text}} </td>
                                    <td> {{_getDate(element.created_at)}} </td>
                                    <td>
                                        <i title="Activar" class="btn btn-primary fa fa-check" v-if="element.status == 0" @click="_updateStatus(element, 1)"></i>
                                        <i title="Desactivar" class="btn btn-warning fa fa-close" v-else @click="_updateStatus(element, 0)"></i>
                                        <i title="Eliminar" class="btn btn-danger fa fa-trash" @click="_trash(element)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="scss" scoped>
    .button{
        width: 100%;
        text-align: center;
        margin: .5rem;
        button{
            background-color: green;
            color: white;
            border: none;
            padding: .4rem;
            width: 20%;
        }
    }
    table{
        tr{
            td, th{
                min-width: 11rem;
                padding: .4rem 1rem;
                margin: 1rem;
                text-align: center;
            }
        }
    }
</style>
<script>
    export default {
        props:{
            user:{
                type: String,
                default: {}
            },
            url:{
                type: String,
                default: ''
            }
        },
        watch:{
            page: function(newPage, oldPage){
                if(newPage != oldPage)
                    this._load()
            }
        },
        data: function(){
            return{
                selectPages: [],
                fullUser: null,
                users: [],
                page: 1,
                lastPage: 1,
                form:{
                    status: '',
                    name: '',
                    level: ''
                }
            }
        },
        methods:{
            _getDate(date){
                return moment(date).format('DD-MM-YY HH:mm A')
            },
            _trash(element){
                axios.post(this.url+'/users/delete', {id: element.id})
                    .then(res => {
                        this._load()
                    })
                    .catch(err => {
                        console.log('>>: error > ', err)
                    })
            },
            _updateStatus(element, status){
                axios.post(this.url+'/users/update', {id: element.id, status})
                    .then(res => {
                        this._load()
                    })
                    .catch(err => {
                        console.log('>>: error > ', err)
                    })
            },
            _load(){
                axios.post(this.url+'/users/get?page='+this.page, this.form)
                    .then(res => {
                        if(res.data.users){
                            this.users = res.data.users.data
                            this.lastPage = res.data.users.last_page
                            let pages = []
                            for (let index = 1; index < res.data.users.last_page; index++) {
                                pages.push({
                                    text: 'Pagina '+ index,
                                    value: index 
                                })
                            }
                            this.selectPages = pages
                        }
                    })
                    .catch(err => {
                        console.log('>>: error > ', err)
                    })
            }
        },
        mounted() {
            this._load()
            if(this.user)
                this.fullUser = JSON.parse(this.user)
        }
    }
</script>
